.directory{
    height: 100%;
    margin-top: 10px;
    .wrap{
        display: inline-block;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    
    .item{
        position: relative;
        width: 30%;
        float: left;
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 10px;

        &::after{
            content: '';
            position: absolute;
            top: 0; left: 0;
            background: rgba(0,0,0,0.3);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        a{
            background: red;
            position: absolute;
            z-index: 2;
            top: 50%; left: 50%;
            font-size: 2rem;
            line-height: 1;
            font-weight: 400;
            color: white;
            padding: 8px 10px;
            border: 1px solid black;
            text-transform: uppercase;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
     }
  }
}