.header{
    height: 8.0rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    .wrap{
        position: relative;
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;

        .logo{
            width: 12.0rem;
            position: absolute;
            top: 50%;
            left: 10px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);

            img{
                display: block;
                width: 100%;
                margin: 0;
            }
        }
    }
}